*{
    margin: 0;
    padding:0;
}
.navbar{
    display: flex;
    background-color: rgba(45, 0, 150, 0.774);
}

.logo{
    width:20%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logo img{
    width:10%;
    border-radius: 50px;
}

.nav-list{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding:20px 20px 20px 35px;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(255, 55, 88);
    font-weight: bold;
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(195, 255, 55);
    font-weight: bold;
}

.profile{
    width:20%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.profile img{
    width:10%;
    border-radius: 50px;
}

.slider{
    overflow: hidden;
}
.slider figure{
    position: relative;
    width: 500%;
    height: 20%;
    margin:0;
    left:0;
    animation: 20s slider infinite;
}

.slider figure img{
    width:20%;
    height: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    
    75%{
        left:-300%;
    }
    
    90%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
}